
<nav class="nav">
  <div>
      <ol class="div-header--container">
          <li> 
              <a class="menu-items-1" [routerLink]="['/BodyComponent']">Home</a>
              <a class="menu-items-2" href="https://drive.google.com/file/d/1_UA0GPIJ4Grh_TYqL_e40SP_zV6bgxfB/view?usp=sharing">Resume</a>
            

          </li>
          <li> 
          </li>
      </ol>
  </div>
</nav> 




<!--PROYECTOS-->
<div class="post-list">
    <a href="https://batabit-cryptocurrency.vercel.app/" class="post">
        <p class="post-likes">Batabit Store</p>
  
      <figure class="post-image">  
        <img src="https://images.unsplash.com/photo-1516245834210-c4c142787335?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169" alt="Batatabit-Store">
      </figure>
      <span class="post-overlay">
        <p>
        <a href="https://batabit-cryptocurrency.vercel.app/" class="post-comments">To visit</a>
        </p>
      </span>
    </a>
  
  
  
    <a href="https://my-weather-app-sandy.vercel.app/" class="post">
        <p class="post-likes">My Weather</p>      
  
      <figure class="post-image">
        <img src="https://images.unsplash.com/photo-1458019035333-261ae4ea527f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870" alt="Tecnopolis-Store">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://my-weather-app-sandy.vercel.app/" class="post-comments">To visit</a>
          </p>
          </span>
    </a>
  
    <a href="https://my-budget-manager-app.vercel.app/ingresarPresupuesto" class="post">
        <p class="post-likes">Budget Manager</p>      
  
      <figure class="post-image">      
        <img src="https://images.unsplash.com/photo-1427751840561-9852520f8ce8?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176" alt="social-network">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://my-budget-manager-app.vercel.app/ingresarPresupuesto" class="post-comments">To visit</a>
        </p>
        </span>
    </a>
  
    <a href="https://my-wikipedia-app.vercel.app/ " class="post">
        <span class="post-likes">My Wikipedia</span>     
      <figure class="post-image">
        <img src="https://images.unsplash.com/photo-1607746747627-8f2311dac2bf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1194" alt="Postcard">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://my-wikipedia-app.vercel.app/ " class="post-comments">To visit</a>
          </p>
          </span>
    </a>
  
    <a href="https://list-task-alpha.vercel.app/" class="post">
      <span class="post-likes">Do List</span>     
    <figure class="post-image">
      <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172" alt="Postcard">
    </figure>
    <span class="post-overlay">
      <p>
        <a href="https://list-task-alpha.vercel.app/" class="post-comments">To visit</a>
        </p>
        </span>
  </a>
  
  
  <a href="https://my-stopwatch.vercel.app/" class="post">
    <span class="post-likes">My Stopwatch</span>     
  <figure class="post-image">
    <img src="https://images.unsplash.com/photo-1506452819137-0422416856b8?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773" alt="Postcard">
  </figure>
  <span class="post-overlay">
    <p>
      <a href="https://my-stopwatch.vercel.app/" class="post-comments">To visit</a>
      </p>
      </span>
  </a>
  
  </div>
      
  
  
  
  
  
       
  
  